<div class="center hero-unit">
	<h1>Happy Birthday!</h1>
		<p>Wir gratulieren dir von Herzen zu deinem 50. Geburtstag!</p>
		<p><%= link_to "Zu deinem Geschenk", '/gift', class: "btn btn-large btn-primary" %></p>
 		<%= link_to image_tag("P1060617_klein.jpg", alt: "Dieter") %>		
</div>
